* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #2882FF;
  font-family: 'Helvetica Nueue', arial,sans-serif;
  color: white;
  text-align: center;
}

/*************** Styles for typography ***************/

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

/*************** Styles for header ***************/

header .controls {
  display: none;
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

header .timer {
  width: 50%;
  float: left;
  height: 60px;
  line-height: 60px;
}

header .scoreboard {
  width: 50%;
  float: left;
  height: 60px;
  line-height: 60px;
}

header .message {
  display: none;
}

/*************** Styles for main ***************/

main {
  display: none;
}

form {
  display: block;
}

input {
  display: block;
  min-width: 400px;
  margin: 20px auto;
  height: 60px;
  line-height: 60px;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 30px;
  text-align: center;
}

input:focus{
  outline: none;
  border-bottom: 2px solid yellow;
}

/*************** Styles for buttons ***************/

button {
  min-width: 300px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  border: 2px solid white;
  color: white;
  background: none;
  padding: 0;
  font-weight: 700;
}

button:hover {
  border-color: yellow;
}

/******************************************/
