*{
  box-sizing: border-box;
}

body {
  background: blue;
}

h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

main {
    max-width: 960px;
    height: 400 px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    background-color: pink;
}

 #questionbox {
  height: 100px;
  width: 100px;
  border-style: solid;
  background-color: white;
  margin: 20px;
  display: inline-block;
 }

.answerbox {
  height: 100px;
  width: 100px;
  border-style: solid;
  background-color: white;
  margin: 20px;
  display: inline-block;
}

.timer {
  height: 100px;
  width: 100px;
  border-style: solid;
  background-color: white;
  margin: 20px;
  display: inline-block;
}

#scoreboard {
  height: 100px;
  width: 100px;
  border-style: solid;
  background-color: white;
  margin: 20px;
  display: inline-block;
}

.levelUp {
  height: 100px;
  width: 100px;
  border-style: solid;
  background-color: white;
  margin: 20px;
  text-align: center;
}
